.header {
  color: lightcoral;
  /* background-color: darkmagenta; */
  background-color: white;
  /* backdrop-filter: blur(10px);   */
  position: fixed;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(15, 15, 15, 0.13);
  z-index: 1;
}
.navlist {
  display: flex;
  justify-content: space-between;
}
.navlist li {
  font-size: 1.4em;
  padding: 0 1.1em;
  border-bottom: 1.5px solid transparent;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.navlist li:hover {
  transform: scale(1.05);
  text-decoration: underline lightcoral;
}

.headingName {
  font-size: 50px;
  /* font-weight: 600; */
  font-family: "Akronim";
  color: black;
}
.contact {
  display: flex;
  width: 120px;
  height: 35px;
  /* text-transform: uppercase; */
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  outline: none;
  background-color: peachpuff;
  border: 3px solid black;
  font-size: 19px;
  color: black;
  transition: all 240ms ease-in-out;
  cursor: pointer;
}
.contact:hover {
  transform: translateY(-5px);
  border: none;
}
