.homeDiv {
  user-select: none;

  height: 100vh;
  /* background-color: bisque; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.centerPart {
  /* padding: 110px 150px; */
  line-height: 1.2;
  /* position: relative; */
}
.centerPart h1 {
  font-size: 1.875rem;
  font-weight: 500;
  font-family: "Paprika";
  letter-spacing: 1.5px;
  color: #010101;
  display: flex;
}
.centerPart h1 h1 {
  background: linear-gradient(
    90deg,
    rgba(255, 167, 69, 1) 0%,
    rgba(245, 127, 184, 1) 32%,
    rgba(102, 157, 248, 1) 90%
  );
  background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  color: transparent;
}

.centerPart h3 {
  font-weight: 300;
  color: rgb(119, 119, 121);
  margin-block-start: 0.1em;
}
.centerPart h6 {
  display: block;
  margin-block-start: 1em;
  max-width: 460px;
  font-weight: 500;
  font-size: 16px;
  font-style: italic;
  color: #010101;
}
.box {
  /* background-color: black; */
  color: white;
  /* height: 600px; */
  padding-top: 90px;
  width: 500px;
}

/*My Image Position code */
.imagePosition {
  position: absolute;
  top: 120px;
  left: 1040px;
  clip-path: circle(295px at 250px 279px);
}

.scrollDown h4 {
  position: absolute;
  font-weight: 400;
  bottom: 30px;
  left: 720px;
  font-size: 22px;
  line-height: 1px;
  /* background-color: ivory; */
  background-color: rgba(123, 115, 194, 0.808);
  height: 34px;
  text-align: center;
  padding-top: 15px;
  border-radius: 15px;
  animation: MoveUpDown 1.35s linear infinite;
  /* min-width: 200px; */
  width: 180px;
  cursor: pointer;
}
@keyframes MoveUpDown {
  50% {
    transform: translateY(0.5rem);
  }
}
